@font-face{
    font-family: tdk;
    src: url(../fonts/batmfo.ttf)
}

nav{
    background: rgba(0, 0, 0, 0.596);
    border-top: solid 1px rgba(128, 128, 128, 0.829);
    border-bottom: solid 1px rgba(128, 128, 128, 0.808);
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 10;
    padding-top: 10px;
    justify-content: center;
}

header{
    font-family: tdk;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgba(128, 128, 128, 0.808);
    margin-right: 6%;
}
nav ul{
    
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

nav li {
    margin: 0 3%;
}
#menu li a{
    text-transform: uppercase;
    background: linear-gradient(rgb(241, 241, 241),rgb(211, 211, 211));
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
    opacity: 1;
    font-size: 20px;
 
    
}

#menu li a:hover {
    -webkit-text-stroke: 1.5px rgba(237, 238, 233, 0.623);
}
body {
    margin: 0;
    color: white;
    background-image: url(https://newcinema.es/imagenes/2012/06/Galeria-Batman-COLR-14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: rgba(255, 255, 255, 0.808);
    margin-right: 6%;
    text-transform: uppercase 
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: rgba(255, 255, 255, 0.808);
    margin-right: 6%;
    text-transform: uppercase 
}
section {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    width: 65%;
    background: rgba(0, 0, 0, 0.888);
    border-radius: 10px;
    margin: 20px auto;
    padding: 15px;
}
#sinopsi img{
    float: left;
}
section{
    position: relative;
    width: 35%;
    background: rgba(0, 0, 0, 0.900);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    overflow: hidden;
}
form div {
    text-align: center;
    margin: 10px;
}
.cines{
position: absolute;

}
.link{
    left: 10%;
}
.horaris{
    left: 10%;
}
.form{
    margin-top: 10%;
    position: relative;
}
section li{
color: yellow;
}